.btn {
	background-color: blue;
	border-radius: 5px;
	height: 20px;
	width: 40px;
}
.hover-demo{margin-top: 220px;}
.hover-demo{text-align: center;}
.on-hover-content{position: absolute;bottom: 40px;background-color: whitesmoke;padding: 10px;border-radius: 10px;}
.on-hover-content img{width:360px;}
#dynamic-content{width: 360px;overflow: scroll;}